<section id="page-header" class="mt-4">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7 d-flex flex-column justify-content-evenly">
        <h1 class="display-1 fw-bold">Boost your <span class="attention-gradient">social media</span> game with
          Iandigo.
        </h1>
        <p class="lead my-4">
          Harness the power of strategic marketing and compelling content to engage, inspire, and expand your
          audience.
          Elevate your brand and achieve new milestones in the digital landscape with our tailored solutions
          and
          expertise, unlocking the full potential of your social media presence and empowering you with a
          professional
          edge.

        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-lg-3">
          <button class="btn btn-warning fw-bold text-uppercase py-3 px-4 mb-5 mb-lg-0" (click)="preselectPersonalPlan()"
                  data-bs-toggle="modal" data-bs-target="#contactModal">Get Started
          </button>
        </div>
      </div>

      <div class="col-lg-5 pt-lg-0">
        <img draggable="false" class="w-100" src="./assets/landing-1.svg">
      </div>
    </div>
  </div>
</section>

<section id="service" class="my-6">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-lg-5 expert-col"> <!-- col -->
        <div>
          <img draggable="false" class="w-100 d-none d-lg-block" src="./assets/landing-2.svg">
        </div>
      </div>
      <div class="col-12 col-lg-6 align-self-center"> <!-- col -->
        <h1 class="display-4 text-center fw-bold">Unleash the Power of Social Media Expertise</h1>
        <div class="my-4 text-center lead">
          <p class="mb-5">
            Experience the transformative impact of our exceptional social media marketing services. Our
            team at Iandigo
            is driven by a shared passion for delivering outstanding results and crafting captivating
            strategies.
          </p>
          <p>
            With our expertise and industry insights, we will elevate your brand's online presence and
            connect you with
            your target
            audience like never before. Get ready to witness the remarkable potential of social media and
            propel your
            brand to new heights with Iandigo.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-between mt-5">
      <div class="col-12 col-lg-6 align-self-center"> <!-- col -->
        <h1 class="display-4 text-center fw-bold">Elevate Your Brand with Social Media Mastery</h1>
        <div class="my-4 text-center lead">
          <p class="mb-5">
            Our dedicated expert brings unrivaled expertise and a passion for social media marketing to help
            your
            business succeed. With a deep understanding of the digital landscape, our expert crafts
            personalized
            strategies to amplify your brand's online presence. By leveraging their creativity and industry
            insights,
            they deliver engaging content and targeted campaigns that connect with your audience. Trust our
            expert to
            guide you through the dynamic world of social media marketing and drive measurable results for
            your
            business.
          </p>
        </div>
        <div class="d-flex justify-content-evenly">
          <i class="bi bi-twitter logo"></i>
          <i class="bi bi-instagram logo"></i>
          <i class="bi bi-facebook logo"></i>
          <i class="bi bi-linkedin logo"></i>
          <i class="bi bi-tiktok logo me-0"></i>
        </div>
      </div>
      <div class="col-12 col-lg-5 d-flex align-items-center" id="expert-col"> <!-- col -->
        <div class="">
          <img draggable="false" class="w-100 my-5 my-lg-0" src="../../../assets/bg-shape.png">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="cards" class="my-6">
  <div class="container">
    <h1 class="text-center display-3 mb-5 fw-bold">Why choose us?</h1>
    <div class="card pt-4 px-4 bg-dark">
      <div class="row justify-content-center">
        <div class="col-lg-5 mb-4">
          <div class="feature-box text-center">
            <div class="feature-icon">
              <i class="bi bi-lightbulb"></i>
            </div>
            <h5 class="feature-title">Innovative Strategies</h5>
            <p class="feature-description">We employ innovative strategies to ensure your brand stands out
              in the
              competitive social media landscape.</p>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="feature-box text-center">
            <div class="feature-icon">
              <i class="bi bi-megaphone"></i>
            </div>
            <h5 class="feature-title">Effective Promotion</h5>
            <p class="feature-description">We create effective promotional campaigns that capture attention,
              engage
              users,
              and drive meaningful results.</p>
          </div>
        </div>
        <div class="col-lg-3 mb-4">
          <div class="feature-box card text-center">
            <div class="feature-icon">
              <i class="bi bi-bullseye"></i>
            </div>
            <h5 class="feature-title">Targeted Audience</h5>
            <p class="feature-description">We analyze your target audience and tailor social media
              strategies to reach
              and
              connect with the right people.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 mb-4">
          <div class="feature-box text-center">
            <div class="feature-icon">
              <i class="bi bi-palette"></i>
            </div>
            <h5 class="feature-title">Creative Content</h5>
            <p class="feature-description">Our team creates visually stunning and compelling content that
              resonates with
              your audience.</p>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="feature-box text-center">
            <div class="feature-icon">
              <i class="bi bi-pie-chart"></i>
            </div>
            <h5 class="feature-title">Data-Driven Insights</h5>
            <p class="feature-description">We provide data-driven insights to optimize your social media
              campaigns for
              better performance and results.</p>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="feature-box text-center">
            <div class="feature-icon">
              <i class="bi bi-heart"></i>
            </div>
            <h5 class="feature-title">Customer Satisfaction</h5>
            <p class="feature-description">We prioritize customer satisfaction, delivering exceptional
              services and
              fostering long-lasting relationships.</p>
          </div>
        </div>
        <div class="col-lg-3 mb-4">
          <div class="feature-box text-center">
            <div class="feature-icon">
              <i class="bi bi-rocket"></i>
            </div>
            <h5 class="feature-title">Accelerated Growth</h5>
            <p class="feature-description">We propel your brand's growth by implementing effective
              strategies and
              tactics to maximize your social media presence.</p>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="feature-box text-center">
            <div class="feature-icon">
              <i class="bi bi-chat-right-text"></i>
            </div>
            <h5 class="feature-title">Engaging Conversations</h5>
            <p class="feature-description">We spark engaging conversations around your brand, fostering
              meaningful
              interactions with your audience and building a loyal community.</p>
          </div>
        </div>

        <div class="col-lg-5 mb-4">
          <div class="feature-box text-center">
            <div class="feature-icon">
              <i class="bi bi-calendar-check"></i>
            </div>
            <h5 class="feature-title">Timely Delivery</h5>
            <p class="feature-description">We value your time and ensure timely delivery of our services,
              meeting
              deadlines and exceeding expectations.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="pricing" class="my-6">
  <div class="container">
    <div class="text-center">
      <h3 class="text-accent mb-0">Best social media marketing plans and packages</h3>
      <h1 class="display-3 fw-bold mb-5">Our pricing plans</h1>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="price-card">
          <div class="price-card-header">
            <h4 class="price-card-title fw-bold">Personal</h4>
            <h5 class="price-card-price"><span class="price-card-valuta">$</span><span
                    class="price-card-number">99</span>/mo</h5>
            <small>The essential package for establishing your social media presence and engaging your
              target
              audience.</small>
            <hr class="text-dark">
          </div>
          <div class="price-card-body">
            <ul class="price-card-list">
              <li>Social media account setup</li>
              <hr>
              <li>Content creation and posting</li>
              <hr>
              <li><strong class="me-2">9AM - 5PM</strong>Online support</li>
              <hr>
              <li>Basic analytics and reporting</li>
              <hr>
              <li>Community engagement</li>
              <hr>
              <li>1 social media platform</li>
              <hr>
            </ul>
            <div class="price-card-btn">
              <a href="#" class="btn btn-secondary mt-3 p-3" data-bs-toggle="modal"
                 data-bs-target="#contactModal"
                 (click)="preselectPersonalPlan()">Get Started</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 my-3 my-lg-0">
        <div class="price-card price-card-attention">
          <div class="price-card-header">
            <h4 class="price-card-title fw-bold text-white">Premium</h4>
            <h5 class="price-card-price text-white"><span class="price-card-valuta">$</span><span
                    class="price-card-number">299</span>/mo</h5>
            <small>The most popular plan to elevate your social media marketing efforts with targeted
              campaigns and
              compelling content creation.</small>
            <hr class="text-white">
          </div>
          <div class="price-card-body">
            <ul class="price-card-list">
              <li>Social media account setup</li>
              <hr>
              <li>Content creation and posting</li>
              <hr>
              <li>24/7 online support</li>
              <hr>
              <li>Advanced analytics and reporting</li>
              <hr>
              <li>Community engagement</li>
              <hr>
              <li>2 social media platforms</li>
              <hr>
              <li>Social media ad campaigns</li>
              <hr>
            </ul>
            <div class="price-card-btn">
              <a href="#" class="btn btn-secondary mt-3 p-3" data-bs-toggle="modal"
                 data-bs-target="#contactModal"
                 (click)="preselectPremiumPlan()">Get Started</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 my-3 my-lg-0">
        <div class="price-card">
          <div class="price-card-header">
            <h4 class="price-card-title fw-bold">Business</h4>
            <h5 class="price-card-price"><span class="price-card-valuta">$</span><span
                    class="price-card-number">399</span>/mo</h5>
            <small>An unlimited and fully scalable plan designed to maximize your social media impact with
              advanced
              analytics, tailored strategies, and dedicated support.</small>
            <hr class="text-dark">
          </div>
          <div class="price-card-body">
            <ul class="price-card-list">
              <li>Social media account setup</li>
              <hr>
              <li>Content creation and posting</li>
              <hr>
              <li><strong class="me-1">24/7</strong> Online support</li>
              <hr>
              <li>Advanced analytics and reporting</li>
              <hr>
              <li>Community engagement</li>
              <hr>
              <li>3 social media platforms</li>
              <hr>
              <li>Social media ad campaigns</li>
              <hr>
              <li>Customized social media strategy</li>
              <hr>
            </ul>
            <div class="price-card-btn">
              <a href="#" class="btn btn-secondary mt-3 p-3" data-bs-toggle="modal"
                 data-bs-target="#contactModal"
                 (click)="preselectBusinessPlan()">Get Started</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 my-3 my-lg-0">
        <div class="price-card">
          <div class="price-card-header">
            <h4 class="price-card-title fw-bold">Corporate</h4>
            <h5 class="price-card-price fw-bold" style="font-size: 3vh;">Request a quote</h5>
            <small>Contact us for a customized plan that meets your corporate social media marketing needs,
              including
              multiple platforms, advanced analytics, social media ad campaigns, and priority
              support.</small>
            <hr class="text-dark">
          </div>
          <div class="price-card-body">
            <ul class="price-card-list">
              <li>Social media account setup</li>
              <hr>
              <li>Content creation and posting</li>
              <hr>
              <li><strong class="me-1">24/7</strong> Online support</li>
              <hr>
              <li>Advanced analytics and reporting</li>
              <hr>
              <li>Community engagement</li>
              <hr>
              <li>Customized social media strategy</li>
              <hr>
              <li>Multiple social media platforms</li>
              <hr>
              <li>Social media ad campaigns</li>
              <hr>
              <li>Priority support</li>
              <hr>
            </ul>
            <div class="price-card-btn">
              <a href="#" class="btn btn-secondary mt-3 p-3" data-bs-toggle="modal"
                 data-bs-target="#contactModal"
                 (click)="preselectCorporatePlan()">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<iandigo-contact [selectedPlan]="selectedPlan"></iandigo-contact>