<div class="modal fade" id="createMessageModal" tabindex="-1" aria-labelledby="createMessageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container my-4">
          <div class="mb-4">
            <h1 class="display-6 fw-semibold text-center">Create Message</h1>
            <p class="lead text-center">Enter the message details.</p>
          </div>
          <hr>
          <form class="mb-3" (ngSubmit)="createMessage()" #messageForm="ngForm">
            <div class="form-floating my-4 needs-validation">
              <input type="text" class="form-control" id="createName" placeholder=" " name="name" [(ngModel)]="name" required>
              <label for="createName">Name</label>
            </div>
            <div class="form-floating my-4 needs-validation">
              <input type="email" class="form-control" id="createEmail" placeholder=" " name="email" [(ngModel)]="email" required>
              <label for="createEmail">Email address</label>
            </div>
            <div class="form-floating my-4 needs-validation">
              <input type="date" class="form-control" id="createMessageDate" placeholder=" " name="messageDate" [(ngModel)]="messageDate" required>
              <label for="createMessageDate">Message Date</label>
            </div>
            <div class="form-floating my-4 needs-validation">
              <select class="form-select" id="createSubscriptionType" name="subscriptionType" [(ngModel)]="subscriptionType" required>
                <option value="Personal">Personal</option>
                <option value="Premium">Premium</option>
                <option value="Business">Business</option>
                <option value="Corporate">Corporate</option>
              </select>
              <label for="createSubscriptionType">Subscription Type</label>
            </div>
            <div class="form-floating my-4 needs-validation">
              <input type="text" class="form-control" id="createUID" placeholder=" " name="uid" [(ngModel)]="uid" required>
              <label for="createUID">UID</label>
            </div>
            <div class="form-floating my-4 needs-validation">
              <textarea class="form-control" id="createMessageContent" placeholder=" " name="messageContent" [(ngModel)]="messageContent" style="height: 8rem" required></textarea>
              <label for="createMessageContent">Message</label>
            </div>
            <div class="row justify-content-end">
              <div class="col-12 col-md-4">
                <button class="btn w-100 p-2 mb-3" type="button" (click)="randomizeFields()">Randomize <i class="bi bi-dice-5 text-black ms-2"></i></button>
              </div>
              <div class="col-12 col-md-8">
                <button class="btn btn-dark w-100 p-2" type="submit" data-bs-dismiss="modal" [disabled]="!messageForm.valid">Create Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
