<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container my-4">
          <div class="mb-4">
            <h1 class="display-6 fw-semibold text-center">Welcome Back</h1>
            <p class="lead text-center">Enter your details to continue</p>
          </div>
          <hr>
          <form class="mb-3" (ngSubmit)="login(loginEmail.value, loginPassword.value)" #loginForm="ngForm">
            <div class="form-floating my-4 needs-validation">
              <input type="email" class="form-control" id="loginEmail" placeholder=" " name="email" #loginEmail>
              <label for="loginEmail">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="loginPassword" placeholder=" " name="password" #loginPassword>
              <label for="loginPassword">Password</label>
            </div>
            <div class="form-check mb-3">
              <input type="checkbox" class="form-check-input" id="loginRememberPassword" name="rememberPassword">
              <label class="form-check-label" for="loginRememberPassword">
                <small>Remember password</small>
              </label>
            </div>
            <button class="btn btn-warning w-100 p-2" type="submit" data-bs-dismiss="modal">Log In</button>
          </form>
          <div>
            <div class="mb-1 text-center">
              <a routerLink="/login/forgot-username" data-bs-dismiss="modal"><small>Forgot username?</small></a>
              <i class="bi bi-dot me-0"></i>
              <a routerLink="/login/forgot-password" data-bs-dismiss="modal"><small>Forgot password?</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
