<div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container my-4">
          <div class="mb-4">
            <h1 class="display-6 fw-semibold text-center">Create User</h1>
            <p class="lead text-center">Enter the user details to create a test client.</p>
          </div>
          <hr>
          <form class="mb-3" (ngSubmit)="createUser()" #userForm="ngForm">
            <div class="form-floating my-4 needs-validation">
              <input type="text" class="form-control" id="createName" placeholder=" " name="name" [(ngModel)]="name" required>
              <label for="createName">Name</label>
            </div>
            <div class="form-floating my-4 needs-validation">
              <input type="email" class="form-control" id="createEmail" placeholder=" " name="email" [(ngModel)]="email" required>
              <label for="createEmail">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="createUID" placeholder=" " name="uid" [(ngModel)]="uid" required>
              <label for="createUID">UID</label>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-floating">
                  <select class="form-select" id="createClient" name="client" [(ngModel)]="client" required>
                    <option value="true">True</option>
                    <option value="false">False</option>
                  </select>
                  <label for="createClient">Client</label>
                </div>
              </div>
              <div class="col mb-4">
                <div class="form-floating">
                  <select class="form-select" id="createAdmin" name="admin" [(ngModel)]="admin" required>
                    <option value="true">True</option>
                    <option value="false">False</option>
                  </select>
                  <label for="createAdmin">Admin</label>
                </div>
              </div>
            </div>
            <button class="btn btn-dark w-100 p-2" type="submit" data-bs-dismiss="modal" [disabled]="!userForm.valid">Create User</button>
            <button class="btn btn-warning w-100 p-2 mt-3" type="button" (click)="randomizeFields()">Randomize <i class="bi bi-dice-5 text-black ms-2"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>