<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container my-4 d-flex justify-content-center">
          <div>
            <div class="mb-4">
              <h1 class="display-6 fw-semibold text-center">Sign up</h1>
              <p class="lead text-center">Enter your details to create a new account</p>
            </div>

            <div class="mb-3">
              <form class="needs-validation" (ngSubmit)="sendSignInLink(email.value)" novalidate>
                <div class="row">
                  <div class="col form-floating">
                    <input type="text" class="form-control" id="firstName" placeholder=" " required>
                    <label for="firstName" style="margin-left: 12px;">First name</label>
                  </div>
                  <div class="col form-floating">
                    <input type="text" class="form-control" id="lastName" placeholder=" " required>
                    <label for="lastName" style="margin-left: 12px;">Last name</label>
                  </div>
                </div>

                <div class="form-floating my-4">
                  <input type="email" class="form-control" id="email" #email placeholder=" " required>
                  <label for="email">Email</label>
                </div>

<!--                <div class="form-floating my-4">-->
<!--                  <input type="password" class="form-control" id="password" #password placeholder=" " required>-->
<!--                  <label for="password">Password</label>-->
<!--                </div>-->

                <button class="btn btn-warning w-100 p-2" type="submit">Create account</button>
              </form>
            </div>

            <div>
              <div class="text-center">
                <p>
                  Have an account already?<br>
                  <a href="" data-bs-toggle="modal" data-bs-target="#loginModal">Log in instead</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>