<div id="navigation" class="navbar navbar-expand-md mt-md-5">
  <div class="container">
    <a class="navbar-brand fw-bolder" href="">
      <img src="./assets/logo.png" style="width: 40px"/>
    </a>
    <button class="navbar-toggler border-0 shadow-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNav"
            aria-controls="offcanvasNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end w-100" id="offcanvasNav" aria-labelledby="offcanvas-navigation">

      <div class="d-flex flex-column h-100 justify-content-between offcanvas-body p-0">

        <div class="mb-auto">
          <div class="nav flex-md-row flex-column">
            <ul class="nav flex-md-row flex-column mb-2 mb-md-0 fw-light">
              <li class="nav-item">
                <a class="nav-link" href="#service">
                  <div class="d-flex">
                    <i class="bi bi-link-45deg d-block d-md-none"></i>
                    <span>Service</span>
                    <button type="button" class="btn-close ms-auto d-block d-md-none me-2" data-bs-dismiss="offcanvas"
                            data-bs-target="#offcanvas" aria-label="Close"></button>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pricing">
                  <div class="d-flex">
                    <i class="bi bi-link-45deg d-block d-md-none"></i>
                    <span>Pricing</span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#faq">
                  <div class="d-flex">
                    <i class="bi bi-link-45deg d-block d-md-none"></i>
                    <span>FAQ</span>
                  </div>
                </a>
              </li>
            </ul>

            <div class="d-flex ms-auto" *ngIf="!isLoggedIn">
              <div class="d-none d-md-block">
                <a href="" class="fw-bold text-white btn btn-secondary mt-2" data-bs-toggle="modal" data-bs-target="#loginModal">
                  LOG IN
                </a>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!isLoggedIn">
          <!--offcanvas bottom section-->
          <ul class="d-block d-md-none nav">
            <hr class="m-0">
            <li class="nav-item mb-0">
              <a class="nav-link">
                <div class="d-flex">
                  <button class="btn btn-secondary w-100" data-bs-toggle="modal" data-bs-target="#loginModal" >LOG IN</button>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>

<iandigo-login></iandigo-login>